openapi: 3.1.0
info:
  title: Liveblocks REST Active Users API
  description: Server-side REST API for managing Liveblocks rooms, room storage, active users, broadcast events, comments and threads, Yjs documents, and version history. Authenticated with a secret key via HTTP Bearer authorization.
  version: v2
  contact:
    name: Liveblocks
    url: https://liveblocks.io/docs/api-reference/rest-api-endpoints
servers:
- url: https://api.liveblocks.io/v2
  description: Liveblocks REST API
security:
- bearerAuth: []
tags:
- name: Active Users
paths:
  /rooms/{roomId}/active_users:
    parameters:
    - $ref: '#/components/parameters/RoomId'
    get:
      tags:
      - Active Users
      summary: List active users
      description: List currently connected users in a room.
      operationId: listActiveUsers
      responses:
        '200':
          description: Active users list.
  /rooms/{roomId}/presence:
    parameters:
    - $ref: '#/components/parameters/RoomId'
    post:
      tags:
      - Active Users
      summary: Set presence
      description: Set temporary user presence data.
      operationId: setPresence
      responses:
        '200':
          description: Presence set.
components:
  parameters:
    RoomId:
      name: roomId
      in: path
      required: true
      description: The room identifier.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Authenticate with a Liveblocks secret key as a Bearer token.
