openapi: 3.1.0
info:
  title: Liveblocks REST Active Users Storage API
  description: Server-side REST API for managing Liveblocks rooms, room storage, active users, broadcast events, comments and threads, Yjs documents, and version history. Authenticated with a secret key via HTTP Bearer authorization.
  version: v2
  contact:
    name: Liveblocks
    url: https://liveblocks.io/docs/api-reference/rest-api-endpoints
servers:
- url: https://api.liveblocks.io/v2
  description: Liveblocks REST API
security:
- bearerAuth: []
tags:
- name: Storage
paths:
  /rooms/{roomId}/storage:
    parameters:
    - $ref: '#/components/parameters/RoomId'
    get:
      tags:
      - Storage
      summary: Get storage
      description: Retrieve a room's storage document.
      operationId: getStorage
      responses:
        '200':
          description: Storage document.
    post:
      tags:
      - Storage
      summary: Initialize storage
      operationId: initializeStorage
      responses:
        '200':
          description: Storage initialized.
    delete:
      tags:
      - Storage
      summary: Clear storage
      operationId: clearStorage
      responses:
        '204':
          description: Storage cleared.
  /rooms/{roomId}/storage/json-patch:
    parameters:
    - $ref: '#/components/parameters/RoomId'
    patch:
      tags:
      - Storage
      summary: Patch storage with JSON Patch
      operationId: patchStorage
      responses:
        '200':
          description: Storage patched.
components:
  parameters:
    RoomId:
      name: roomId
      in: path
      required: true
      description: The room identifier.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Authenticate with a Liveblocks secret key as a Bearer token.
