openapi: 3.1.0
info:
  title: Liveblocks REST Active Users Yjs API
  description: Server-side REST API for managing Liveblocks rooms, room storage, active users, broadcast events, comments and threads, Yjs documents, and version history. Authenticated with a secret key via HTTP Bearer authorization.
  version: v2
  contact:
    name: Liveblocks
    url: https://liveblocks.io/docs/api-reference/rest-api-endpoints
servers:
- url: https://api.liveblocks.io/v2
  description: Liveblocks REST API
security:
- bearerAuth: []
tags:
- name: Yjs
paths:
  /rooms/{roomId}/ydoc:
    parameters:
    - $ref: '#/components/parameters/RoomId'
    get:
      tags:
      - Yjs
      summary: Get Yjs document as JSON
      operationId: getYdocJson
      responses:
        '200':
          description: Yjs document.
    put:
      tags:
      - Yjs
      summary: Apply Yjs binary update
      operationId: applyYdocUpdate
      responses:
        '204':
          description: Update applied.
  /rooms/{roomId}/ydoc-binary:
    parameters:
    - $ref: '#/components/parameters/RoomId'
    get:
      tags:
      - Yjs
      summary: Export Yjs document as binary
      operationId: getYdocBinary
      responses:
        '200':
          description: Binary Yjs document.
components:
  parameters:
    RoomId:
      name: roomId
      in: path
      required: true
      description: The room identifier.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Authenticate with a Liveblocks secret key as a Bearer token.
