openapi: 3.1.0
info:
  title: Liveblocks REST Active Users Reactions API
  description: Server-side REST API for managing Liveblocks rooms, room storage, active users, broadcast events, comments and threads, Yjs documents, and version history. Authenticated with a secret key via HTTP Bearer authorization.
  version: v2
  contact:
    name: Liveblocks
    url: https://liveblocks.io/docs/api-reference/rest-api-endpoints
servers:
- url: https://api.liveblocks.io/v2
  description: Liveblocks REST API
security:
- bearerAuth: []
tags:
- name: Reactions
paths:
  /rooms/{roomId}/threads/{threadId}/comments/{commentId}/add-reaction:
    parameters:
    - $ref: '#/components/parameters/RoomId'
    - $ref: '#/components/parameters/ThreadId'
    - $ref: '#/components/parameters/CommentId'
    post:
      tags:
      - Reactions
      summary: Add reaction
      operationId: addReaction
      responses:
        '200':
          description: Reaction added.
  /rooms/{roomId}/threads/{threadId}/comments/{commentId}/remove-reaction:
    parameters:
    - $ref: '#/components/parameters/RoomId'
    - $ref: '#/components/parameters/ThreadId'
    - $ref: '#/components/parameters/CommentId'
    delete:
      tags:
      - Reactions
      summary: Remove reaction
      operationId: removeReaction
      responses:
        '204':
          description: Reaction removed.
components:
  parameters:
    RoomId:
      name: roomId
      in: path
      required: true
      description: The room identifier.
      schema:
        type: string
    ThreadId:
      name: threadId
      in: path
      required: true
      description: The thread identifier.
      schema:
        type: string
    CommentId:
      name: commentId
      in: path
      required: true
      description: The comment identifier.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Authenticate with a Liveblocks secret key as a Bearer token.
