openapi: 3.1.0
info:
  title: Liveblocks REST Active Users Comments API
  description: Server-side REST API for managing Liveblocks rooms, room storage, active users, broadcast events, comments and threads, Yjs documents, and version history. Authenticated with a secret key via HTTP Bearer authorization.
  version: v2
  contact:
    name: Liveblocks
    url: https://liveblocks.io/docs/api-reference/rest-api-endpoints
servers:
- url: https://api.liveblocks.io/v2
  description: Liveblocks REST API
security:
- bearerAuth: []
tags:
- name: Comments
paths:
  /rooms/{roomId}/threads/{threadId}/comments:
    parameters:
    - $ref: '#/components/parameters/RoomId'
    - $ref: '#/components/parameters/ThreadId'
    post:
      tags:
      - Comments
      summary: Add comment
      operationId: addComment
      responses:
        '200':
          description: Comment added.
  /rooms/{roomId}/threads/{threadId}/comments/{commentId}:
    parameters:
    - $ref: '#/components/parameters/RoomId'
    - $ref: '#/components/parameters/ThreadId'
    - $ref: '#/components/parameters/CommentId'
    get:
      tags:
      - Comments
      summary: Get comment
      operationId: getComment
      responses:
        '200':
          description: Comment details.
    post:
      tags:
      - Comments
      summary: Update comment
      operationId: updateComment
      responses:
        '200':
          description: Comment updated.
    delete:
      tags:
      - Comments
      summary: Delete comment
      operationId: deleteComment
      responses:
        '204':
          description: Comment deleted.
components:
  parameters:
    RoomId:
      name: roomId
      in: path
      required: true
      description: The room identifier.
      schema:
        type: string
    ThreadId:
      name: threadId
      in: path
      required: true
      description: The thread identifier.
      schema:
        type: string
    CommentId:
      name: commentId
      in: path
      required: true
      description: The comment identifier.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Authenticate with a Liveblocks secret key as a Bearer token.
